<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书城首页</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style>
        #main {
            position: relative;
        }

        #page_nav {
            position: absolute;
            bottom: 30px;
        }
    </style>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">网上书城</span>
    {{if .IsLogin}}
    <div>
        <span>欢迎<span class="um_span">{{.UserName}}</span>光临尚硅谷书城</span>
        <a href="/pages/cart/cart.html">购物车</a>
        <a href="/logout">注销</a>&nbsp;&nbsp;
        <a href="/main">返回</a>
    </div>
    {{else}}
    <div>
        <a href="/pages/user/login.html">登录</a> |
        <a href="/pages/user/regist.html">注册</a> &nbsp;&nbsp;
        <a href="/pages/cart/cart.html">购物车</a>
        <a href="/pages/manager/manager.html">后台管理</a>
    </div>
    {{end}}
</div>

<div id="main">
    <div id="book">
        <div class="book_cond">
            <form action="/getPageBooksByPrice" method="post" onsubmit="getByPrice()">
                价格：<input type="text" name="min" value="{{.Min}}"> 元 - <input type="text" name="max" value="{{.Max}}"> 元
                <button type="submit">查询</button>
            </form>

        </div>
        <div style="text-align: center">
            <span>您的购物车中有3件商品</span>
            <div style="visibility: hidden">
                您刚刚将<span style="color: red" id="remind"></span>加入到了购物车中
            </div>
        </div>
        {{range .Books}}
        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="{{.ImgPath}}"/>
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">书名:</span>
                    <span class="sp2">{{.Title}}</span>
                </div>
                <div class="book_author">
                    <span class="sp1">作者:</span>
                    <span class="sp2">{{.Author}}</span>
                </div>
                <div class="book_price">
                    <span class="sp1">价格:</span>
                    <span class="sp2">￥{{.Price}}</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">销量:</span>
                    <span class="sp2">{{.Sales}}</span>
                </div>
                <div class="book_amount">
                    <span class="sp1">库存:</span>
                    <span class="sp2">{{.Stock}}</span>
                </div>
                <div class="book_add">
                    <button class="shop">加入购物车</button>
                    <input type="hidden" name="bookID" value="{{.ID}}">
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <div id="page_nav">
        <button onclick="location.href='/getPageBooksByPrice?pageNo=1&min={{.Min}}&max={{.Max}}'">首页</button>
        <button id="prev"
                onclick="location.href='/getPageBooksByPrice?pageNo={{.GetPrevPageNo}}&min={{.Min}}&max={{.Max}}'">上一页
        </button>
        当前是第{{.PageNo}}页 共{{.TotalPageNo}}页,共{{.TotalRecord}}条记录
        <button onclick="location.href='/getPageBooksByPrice?pageNo={{.GetNextPageNo}}&min={{.Min}}&max={{.Max}}'"
                id="next">下一页
        </button>
        <button onclick="location.href='/getPageBooksByPrice?pageNo={{.TotalPageNo}}&min={{.Min}}&max={{.Max}}'">末页
        </button>
        到第<input name="pn" id="pn_input" value="{{.PageNo}}" type="number" max="{{.TotalPageNo}}" min="1"/>页
        <input type="button" value="确定" onclick="goNew()" id="bt_input">
    </div>
</div>

<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
</div>
<script>
    if ("{{.IsHasPrev}}" === "false") {
        document.getElementById("prev").setAttribute("disabled", "disabled");
    }

    if ("{{.IsHasNext}}" === "false") {
        document.getElementById("next").setAttribute("disabled", "disabled");
    }

    function goNew() {
        const pageNo = document.getElementById("pn_input").value;
        if (pageNo < 1 || pageNo > "{{.TotalPageNo}}") {
            return
        }
        location.href = "/getPageBooksByPrice?pageNo=" + pageNo + "&min={{.Min}}&max={{.Max}}";
    }

    function getByPrice() {
        const min = document.getElementsByName("min")[0];
        const max = document.getElementsByName("max")[0];
        return min <= max
    }

    const slice = document.getElementsByClassName("shop");
    for (let i = 0; i < slice.length; i++) {
        slice[i].onclick = function () {
            if ("{{.IsLogin}}" === "false") {
                return
            }
            //获取要添加图书的id
            const bookID = document.getElementsByName("bookID")[i].value;
            //设置请求的url
            const url = "/addBookToCart"
            const param = "?" + "bookID=" + bookID
            let xmlHttp;
            if (window.XMLHttpRequest) {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlHttp = new XMLHttpRequest();
            } else {
                // IE6, IE5 浏览器执行代码
                xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    var remind = document.getElementById("remind");
                    remind.parentNode.style = "visibility: none"
                    remind.innerHTML = xmlHttp.response
                    setTimeout(function () {
                        remind.parentNode.style = "visibility: hidden"
                    }, 3000)
                }
            }
            xmlHttp.open("GET", url + param, true);
            xmlHttp.send();
        }
    }
</script>
</body>
</html>