<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>

<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">我的订单</span>
    <div>
        <span>欢迎<span id="userName" class="um_span"></span>光临尚硅谷书城</span>
        <a href="/getMyOrders">我的订单</a>
        <a href="/logout">注销</a>&nbsp;&nbsp;
        <a href="/main">返回</a>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <th>单号</th>
            <th>日期</th>
            <th>数量</th>
            <th>金额</th>
            <th>详情</th>
            <th>发货</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.OrderID}}</td>
            <td>{{.CreateTime}}</td>
            <td>{{.TotalCount}}</td>
            <td>{{.TotalAmount}}</td>
            <td><a href="/getOrderInfo?orderID={{.OrderID}}">查看详情</a></td>
            <td class="state">
                <input class="userName" type="hidden" value="{{.UserName}}">
                {{if .SendComplete}}
                <a href="/takeOrder?orderID={{.OrderID}}">确认收货</a>
                {{end}}
                {{if .NoSend}}
                等待发货
                {{end}}
                {{if .Complete}}
                <span style="color: green">交易完成</span>
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
</div>

<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
</div>
<script>
    onload = function userName() {
        document.getElementById("userName").innerHTML = document.getElementsByClassName("userName")[0].value;
    }
</script>
</body>
</html>