<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style>
        #main {
            position: relative;
        }

        #page_nav {
            position: absolute;
            bottom: 30px;
            /*left:50px;*/
        }
    </style>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">图书管理系统</span>
    <div>
        <a href="/getPageBooks">图书管理</a>
        <a href="/main">注销</a>
    </div>
</div>
<div id="main">
    <table>
        <tr>
            <td>名称</td>
            <td>价格</td>
            <td>作者</td>
            <td>销量</td>
            <td>库存</td>
            <td colspan="2">操作</td>
        </tr>
        {{range .Books}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Price}}</td>
            <td>{{.Author}}</td>
            <td>{{.Sales}}</td>
            <td>{{.Stock}}</td>
            <td><a href="/addOrModify?bookID={{.ID}}">修改</a></td>
            <td><a href="/deleteBook?bookID={{.ID}}">删除</a></td>
        </tr>
        {{end}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/addOrModify">添加图书</a></td>
        </tr>
    </table>
    <div id="page_nav">
        <button onclick="location.href='/getPageBooks?pageNo=1'">首页</button>
        <button id="prev" onclick="location.href='/getPageBooks?pageNo={{.GetPrevPageNo}}'">上一页</button>
        当前是第{{.PageNo}}页 共{{.TotalPageNo}}页,共{{.TotalRecord}}条记录
        <button onclick="location.href='/getPageBooks?pageNo={{.GetNextPageNo}}'" id="next">下一页</button>
        <button onclick="location.href='/getPageBooks?pageNo={{.TotalPageNo}}'">末页</button>
        到第<input name="pn" id="pn_input" value="{{.PageNo}}"/>页
        <input type="button" value="确定" onclick="goNew()" id="bt_input">
    </div>
</div>

<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
</div>
<script>
    if ("{{.IsHasPrev}}" === "false") {
        document.getElementById("prev").setAttribute("disabled", "disabled");
    }

    if ("{{.IsHasNext}}" === "false") {
        document.getElementById("next").setAttribute("disabled", "disabled");
    }

    function goNew() {
        const pageNo = document.getElementById("pn_input").value;
        if (pageNo < 1 || pageNo > "{{.TotalPageNo}}") {
            return
        }
        location.href = "/getPageBooks?pageNo=" + pageNo;
    }
</script>
</body>
</html>